@model IEnumerable<To_Do_List.Models.Item>

@{
    ViewData["Title"] = "To-Do List";
}

<h2>What do you have planned for today?</h2>
<p><a asp-action="Create">Add Task</a></p>

@if(Model.Count() == 0){
    <h3>There are currently no entries</h3>
}
else{
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                Tasks:
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @if(item.IsComplete)
                {
                    @Html.ActionLink("\u2611", "Check", new { id = item.Id, @class = "input-checkbox"})
                }
                else
                {
                    @Html.ActionLink("\u2610", "Check", new { id = item.Id, @class = "input-checkbox"})

                }

            </td>
            <td>
                <div style="@(item.IsComplete ? "text-decoration: line-through rgba(255, 255, 255, 0.5);":"")">
                    <span style="@(item.IsComplete ? "color: rgba(15, 144, 162, 0.57);":"")">@Html.DisplayFor(modelItem => item.Name)</span>
                </div>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a><a> |</a>
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    <tr>
        <td>@Model.Count(item=>item.IsComplete == true) Items</td>
        <td></td>
        <td></td>
    </tr>
    </tbody>
</table>
}